@import url('styles/Normalize.css');
@import url('styles/variables.css');

html {
  font-size: 62.5%; /* rem preset: 1rem = 10px */
  box-sizing: border-box; /* optimized css boxes */
}
*, *:before, *:after {
  box-sizing: inherit; /* optimized css boxes */
}
/*----------------------------------------*/
body {
  font-family: var(--font-text);
  font-size: 1.6rem;
  background-color: var(--black-bg);
  color: var(--white);
  text-align: center;
}