.container{
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: var(--black-bg);
  top: 0;
  border-bottom: 1px solid var(--ghost-white);
  box-shadow: 0 0 20px 10px var(--black-transparent);
}
.navbar{
  width: var(--main-width);
  margin: 0 auto;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
}
.link_group{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.link_group[title="nav"]{
  gap: 3rem;
}
h1{
  color: var(--white);
  font-family: var(--font-special-titles);
  font-size: 2rem;
}
h2{
  font-family: var(--font-titles);
  font-size: 1.5rem;
  margin: 0;
}
.active_link{
  position: relative;
  color: var(--purple);
  border-bottom: 3px solid var(--purple);
}
.github_btn{
  font-family: var(--font-titles);
  height: 4rem;
  padding: 1.6rem;
  color: var(--white);
  border-radius: .2rem;
  background-color: var(--purple);
  position: relative;
  border: 1px solid var(--ghost-white);
}
.github_btn .svg{
  height: 2.4rem;
  fill: var(--white);
}
.github_btn::after{
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: var(--white);
  opacity: .3;
  transition: .2s ease-in-out all;
}
.github_btn:hover{
  color: var(--white);
}
.github_btn:hover::after{
  width: 100%;
}
/*----------------------------------------*/
.filter_menu_toggle{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: .2rem;
  background-color: var(--gray-dark);
  transition: .2s ease-in-out;
  transition-property: border-color, background-color;
}

.filter_menu_toggle svg{
  color: var(--white);
  height: 2.4rem;
  width: 2.4rem;
}
.active_btn{
  background-color: var(--purple);
}
.active_btn::after{
  height: 0;
}