.main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.4rem;
  padding-bottom: 6rem;
}
/*----------------------------------------*/
.genres_filter_container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  width: var(--main-width);
  padding: 1rem;
  background-color: var(--gray-light);
}

.active_filter{
  background-color: var(--purple) !important;
  border-radius: .4rem;
  border: 1px solid var(--white-transparent) !important;
  color: var(--white);
}
.active_filter::after{
  height: 0;
}
/*----------------------------------------*/
.page_btns_container{
  font-family: var(--font-titles);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  column-gap: .8rem;
  margin-bottom: 3rem;
}
.page_btn{
  border-radius: .2rem;
  --width: 4rem;
  width: var(--width);
  height: var(--width);
  outline: none;
  border: none;
  background-color: var(--gray-light);
  color: var(--white);
  transition: .2s ease-in-out;
  transition-property: border, text-shadow, transform, background-color;
  border: 2px solid var(--gray-light);
}
.page_btn[title='move']{
  color: var(--purple);
}
.page_btn:hover{
  transform: scale(1.04);
  border: 2px solid var(--ghost-white);
  text-shadow: 0 0 5px currentColor;
}
.page_btn:active{
  background-color: var(--purple);
}
.active_page{
  background-color: var(--purple);
}
/*----------------------------------------*/
.gamecards_container{
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3.2rem;
  row-gap: 4rem;
}

