@import url("https://fonts.googleapis.com/css2?family=Alexandria&family=Ubuntu&display=swap");

@font-face {
  font-family: "bord";
  src: url(../fonts/bord.otf);
}

:root {
  --black-bg: rgb(18, 18, 19);
  --black-transparent: rgba(18, 18, 19, 0.65);
  --white: rgb(225, 225, 225);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --ghost-white: rgba(134, 134, 134, 0.2);
  --gray: rgb(118, 120, 136);
  --gray-light: rgb(29,29,33);
  --gray-dark: rgb(23, 23, 28);
  --purple: #a20e47;
  --blue: #6cd4d4;

  --font-text: "Ubuntu", sans-serif;
  --font-titles: "Alexandria", sans-serif;
  --font-special-titles: "bord", sans-serif;

  --main-width: min(140rem, 96%);
}

