@import url("https://fonts.googleapis.com/css2?family=Alexandria&family=Ubuntu&display=swap");

@font-face {
  font-family: "bord";
  src: url(../fonts/bord.otf);
}

:root {
  --black-bg: rgb(21, 21, 21);

  --black-transparent: rgba(20, 20, 20, 0.99);
  --white: rgb(225, 225, 225);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --ghost-white: rgba(200, 200, 200, 0.2);
  --gray: rgb(140, 140, 140);
  --gray-light: rgb(35, 35, 35);
  --gray-dark: rgb(18, 18, 18);
  --purple: #a20e47;
  --purple-light: #b9248c;
  --blue: #6cd4d4;

  --font-text: "Ubuntu", sans-serif;
  --font-titles: "Alexandria", sans-serif;
  --font-special-titles: "bord", sans-serif;

  --main-width: min(140rem, 96%);
}

